<span class="h1 d-flex">Departments</span>

<button
  routerLink="/DepCreate"
  class="mt-2 mb-4"
  mat-raised-button
  color="accent"
>
  Create New Department
</button>

<table class="table">
  <thead>
    <tr>
      <th class="h3">Name</th>
      <th class="h3">Location</th>
      <th class="h3">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="spiners == false">
    <tr *ngFor="let department of departments">
      <td class="h6">{{ department.name }}</td>
      <td class="h6">{{ department.loction }}</td>
      <td>
        <button
          (click)="deleteDepartment(department.id)"
          class="btn btn-danger mr-2"
        >
          Delete
        </button>
        <button
          routerLink="/detail/{{ department.id }}"
          class="btn btn-primary mr-2"
        >
          Details
        </button>
        <button
        routerLink="/DepEdit/{{department.id}}"
          class="btn btn-success"
        >
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="spiners" class="spinner-grow text-primary spinericon" role="status">
  <span class="sr-only">Loading...</span>
</div>
